# Frontend / Node Exclusions
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.vscode/

# Backend / Python Exclusions
venv/
env/
.venv/
.venv*/
venv*/
__pycache__/
*.pyc
db.sqlite3.bak
backend/staticfiles/
.env

# Log & Output Files
*.log
*log*.txt
inspect_*.txt

# System / Temp Files
.DS_Store
Thumbs.db
*.bak